.header-top {
  border-bottom: 0;

  #_desktop_search_from {
    float: right;
    width: 563px;
    margin-right: 88px;
  }

  &__content>.container {
    max-width: 1310px;
    padding-inline: 0;
  }

  &__block {
    &--search {
      margin-left: auto;
    }

    &--user,
    &--cart {
      padding: 0;
    }
  }

  &__row {
    margin-inline: 0;
  }
}

.header-main-menu {
  height: 48px;
  background-color: #32858c;

  >.container {
    height: 100%;
    max-width: 1310px;
  }

  &__inner,
  &__toggle,
  &__toggle-link,
  &__categories-label,
  &__content,
  .main-menu__dropdown,
  .main-menu__item--top {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__toggle {
    flex: 0 0 auto;
    margin-right: 10px;
  }

  &__toggle-link {
    gap: 20px;
    padding: 0;
    color: $white;
    text-decoration: none;

    .material-icons {
      display: block;
      font-size: 26px;
      line-height: 1;
    }

    @include hover-focus() {
      color: $white;
      text-decoration: none;
    }
  }

  &__categories-label,
  .main-menu__item-link--top {
    padding: 0;
    color: $white;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;

    @include hover-focus() {
      color: $white;
      text-decoration: none;
      background-color: transparent;
    }
  }

  &__categories-label {
    flex: 0 0 auto;
    margin-right: 30px;
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;

    >.header-top__block--menu,
    >.col-12 {
      flex: 1 1 auto;
      width: auto;
      max-width: none;
      height: 100%;
      margin-top: 0 !important;
      padding: 0;
    }
  }

  .main-menu {
    height: 100%;

    &__dropdown {
      gap: 30px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      &--top {
        margin: 0;
      }

      &--current {

        >.main-menu__item-header>.main-menu__item-link--top,
        >.main-menu__item-link--top {
          color: $white;
        }
      }
    }

    &__item-header {
      height: 100%;
    }

    &__dropdown>.main-menu__item:not(:last-child) {
      display: none;
    }
  }
}