.search-form {
  max-width: 563px;

  &__form-group {
    display: flex;
    height: 30px;
  }

  &__input {
    width: 100%;
    height: 30px;
    padding: 0 58px 0 10px;
    font-size: 12px;
    line-height: 30px;
    background-color: #fff;
    border: 2px solid #328189;
    border-radius: 5px;

    &::placeholder {
      color: #328189;
      opacity: 1;
    }

    &:focus {
      border-color: #328189;
      outline: 0;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    padding: 0;
    color: #fff;
    background-color: #328189;
    border: 0;
    border-radius: 0 5px 5px 0;

    .material-icons {
      font-size: 18px;
    }

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken(#328189, 6%);
    }
  }
}