.search-form {
  width: 100%;
  max-width: rem-calc(563px);

  &__form-group {
    display: flex;
    width: 100%;
    height: rem-calc(30px);
  }

  &__input {
    width: 100%;
    height: rem-calc(30px);
    padding: 0 rem-calc(58px) 0 rem-calc(10px);
    font-size: rem-calc(12px);
    line-height: rem-calc(30px);
    background-color: #fff;
    border: rem-calc(2px) solid #328189;
    border-radius: rem-calc(5px);

    &::placeholder {
      color: #328189;
      opacity: 1;
    }

    &:focus {
      background-color: #fff;
      border-color: #328189;
      outline: 0;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(48px);
    padding: 0;
    color: #fff;
    background-color: #328189;
    border: 0;
    border-radius: 0 rem-calc(5px) rem-calc(5px) 0;

    .material-icons {
      font-size: rem-calc(18px);
    }

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken(#328189, 6%);
    }
  }
}