@use "sass:map";

.container {
  max-width: 1310px;
}

.product-page{
    &__container{
        margin-top: 50px;
    }
.product-main {

  @include media-breakpoint-up(sm) {
    &__summary {
      padding-left: 16px;
    }
  }

  @include media-breakpoint-up(md) {
    &__summary {
      padding-left: 24px;
    }
  }

  @include media-breakpoint-up(lg) {
    &__summary {
      padding-left: 40px;
    }
  }

  @include media-breakpoint-up(xl) {
    &__summary {
      padding-left: 50px;
    }
  }
}
}